# Django
SECRET_KEY=your-secret-key-here
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1

# Database
DB_NAME=skillbridge_db
DB_USER=skillbridge_user
DB_PASSWORD=your-password-here
DB_HOST=localhost
DB_PORT=5432

# JWT
JWT_ACCESS_TOKEN_LIFETIME=3600
JWT_REFRESH_TOKEN_LIFETIME=86400

# Skill Exchange
DEFAULT_BEGINNER_TOKENS=5
SKILL_CREDIT_EARN_RATE=10
SKILL_CREDIT_SPEND_RATE=10


EMAIL_BACKEND = 
DEFAULT_FROM_EMAIL=
EMAIL_HOST = 
EMAIL_PORT = 587
EMAIL_HOST_USER =
EMAIL_HOST_PASSWORD = 
EMAIL_USE_TLS = True

#  for image storage
BLOB_STORE_ID=
BLOB_READ_WRITE_TOKEN=